<div class="purple-bg"></div>
<div class="contactus-view animated slideInUp" ng-controller="contactCtrl">
    <div class="contactus-container">
        <div class="card col-lg-6 col-lg-push-3 col-sm-12 h2 contactus-header animated slideInUp">
            <i class="fa fa-phone"></i> Contact Us
        </div>
        <div class="card col-lg-6 col-lg-push-3 col-sm-12 contact-card animated slideInUp">
            <br>
            <input type="text" class="text" id="name" placeholder="Your Name">
            <input type="text" class="text" id="email" placeholder="Email">
            <input type="text" class="text" id="phone" placeholder="Phone">
            <textarea rows="5" id="message" placeholder="Your Message"></textarea>
            <button class="e-btn" id="sendbtn"><i class="fa fa-send"></i></button>
        </div>
    </div>


    <div class="card col-lg-6 col-lg-push-3 col-sm-12 h2 aboutus-card-header animated slideInUp">
        <i class="fa fa-map-marker"></i> Reach Us At
    </div>

    <div class="card col-lg-6 col-lg-push-3 animated slideInUp">
        <div>
            <img src="images/logo.png" class="vcard-image" alt="Logo">
            <div class="e-navbar-brand">Concept</div>
            <div class="vcard-subtext">Event Organizers</div>
        </div>
        <br>
        <div class="vcard-text">
            <div><i class="fa fa-user"></i> Nitin Vas</div>
            <div><i class="fa fa-map-marker"></i> Pakshikere, Dakshina Kannada, Mangalore, Karnataka - 574146</div>
            <div><i class="fa fa-phone"></i> 091087 54870</div>
            <div><i class="fa fa-envelope"></i> info@conceptevt.com</div>
        </div>
    </div>
</div>
