<!--//slider-->
<div class="slider">
    <div class="slider-div">
        <div class="image-container banner-img-wrapper" style="background: url('images/banner.jpg') no-repeat;">
            <img class="slider-image" src="images/banner1.jpg" alt="">
        </div>
        <div class="image-container banner-img-wrapper" style="background: url('images/banner.jpg') no-repeat;">
            <img class="slider-image" src="images/banner2.jpg" alt="">
        </div>
        <div class="image-container banner-img-wrapper" style="background: url('images/banner.jpg') no-repeat;">
            <img class="slider-image" src="images/banner3.jpg" alt="">
        </div>
        <div class="image-container banner-img-wrapper" style="background: url('images/banner.jpg') no-repeat;">
            <img class="slider-image" src="images/banner4.jpg" alt="">
        </div>
    </div>
</div>

<div class="info row">
    <div class="aboutconcept card col-lg-10 col-lg-push-1">"Concept is dedicated to quality, excellence and customer
        satisfaction...with the ability and passion to organise and execute economical yet exceptionally luxury
        events...right from the initial venue search and bookings, photography,turnkey production, staffing, stage
        designing, entertainment upto post event support we take care of every thing.."
    </div>
</div>

<!--services-->
<div class="s-slider">
    <div style="position:relative;text-align:center;color:#fff;font-family: 'Bree Serif', serif;text-shadow:0px 0px 0.8em #fff;">
        <h2>Our Services</h2><br><br>
    </div>
    <div style="position:relative;width:100%;overflow:hidden;">

        <div class="services">

            <!-- 1 -->
            <div class="col-lg-3 slide" style="padding:1%;">
                <div class="s-div">
                    <div class="s-image-container">
                        <img class="s-image" src="images/block1.jpg" alt="OOPS!!!"/>
                    </div>
                </div>
            </div>

            <!-- 2 -->
            <div class="col-lg-3 slide" style="padding:1%;">
                <div class="s-div">
                    <div class="s-image-container">
                        <img class="s-image" src="images/block2.jpg" alt="OOPS!!!"/>
                    </div>
                </div>
            </div>

            <!-- 3 -->
            <div class="col-lg-3 slide" style="padding:1%;">
                <div class="s-div">
                    <div class="s-image-container">
                        <img class="s-image" src="images/block3.jpg" alt="OOPS!!!"/>
                    </div>
                </div>
            </div>

            <!-- 4 -->
            <div class="col-lg-3 slide" style="padding:1%;">
                <div class="s-div">
                    <div class="s-image-container">
                        <img class="s-image" src="images/block4.jpg" alt="OOPS!!!"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--About-Video-->
<div class="wrapper">
    <div class="inner">
        <div class="col-lg-8 col-sm-12 aboutus-container">
            <span class="h2">About Us</span><br><br>
            <div class="card about-text-container">
                Concept is a fully integrated creative event management company with experience over 10 years we
                approach every project with utmost attention to detail and precision regardless of size and scope...we
                treat your events like a strategic goal with the comprehensive plan to ensure that your event is
                delivered on time and on budget.
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 video-container">
            <span class="h2">Road Map</span><br><br>
            <div class="card map-container">
                <div style="overflow:hidden;width:100%;height:300px;position:relative;resize:none;max-width:100%;">
                    <div id="embed-map-canvas" style="height:100%; width:100%;max-width:100%;">
                        <iframe style="height:100%;width:100%;border:0;" frameborder="0"
                                src="https://www.google.com/maps/embed/v1/place?q=Concept+Event+Organizers,+Pakshikere,+Karnataka,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                    </div>
                    <a class="code-for-google-map" href="https://www.dog-checks.com/pug-checks" id="enable-map-data">pug
                        checks</a>
                    <style>#embed-map-canvas img {
                        max-width: none !important;
                        background: none !important;
                    }</style>
                </div>
                <script src="https://www.dog-checks.com/google-maps-authorization.js?id=75f7f37c-4614-51e1-1044-82cd337e8d54&c=code-for-google-map&u=1470726758"
                        defer="defer" async="async"></script>
            </div>
        </div>
    </div>
</div>


<div class="break"></div>

<div class="about">
    <div class="parallax"></div>
    <div class="container">
        <div class="col-lg-6">
            <div class="card-fluid transparent">
                <img src="images/vision.jpg" class="vision-image" alt="">
                <div class="home-about-content">
                    We understand that the quality and our standards of service is the ultimate commitment to our
                    clients. We aim to be your strategic partner to provide exceptional event management service to
                    assure desired outcomes we believe that our relationship with our customers is strengthened as we
                    partner and share through the process of creating their dream event.
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card-fluid transparent">
                <img src="images/mission.jpg" class="vision-image" alt="">
                <div class="home-about-content">
                    By application of principles such as trust, respect, honesty, integrity and caring we can bring out
                    the best in everyone we are in contact with all along the way which maximizes the outcome in all we
                    do for our clients. Our Mission is to surpass expectations and create memories for our clients and
                    their guests that will last a lifetime.
                </div>
            </div>
        </div>
    </div>
</div>